<%- include('header'); -%>

  <h2>This is the about page</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente quam minima animi reprehenderit. Perferendis sunt illo itaque minus, aliquam quam modi ad repudiandae aliquid nostrum praesentium molestiae placeat sapiente facilis nihil maxime ex ut dicta eligendi velit? Ducimus a saepe odit eos perferendis consequuntur ipsa doloremque, accusantium praesentium quia dolorum.</p>

<%- include('footer'); -%>